section
  h2.title Icaro Caldeira Carreira
  ul
    li CTO @ <a href="https://itmodel.com"> It Model </a>
    li 8+ anos de experiência em desenvolvimento
    li Community manager @ <a href="https://www.meetup.com/Nerdzao/">Nerdzão</a>
    li Speaker

  br
  br

  div.social
    a(href="/resume/IcaroCaldeiraCarreira-Resume.htm" target="_blank" alt="resumé") <i style="margin-right:20px" class="fa fa-vcard-o"></i>
    a(href="mailto:icaro.caldeira@hotmail.com" target="_top" alt="email") <i style="margin-right:20px" class="fa fa-envelope-o"></i>
    a(href="https://github.com/icarcal" target="_blank" alt="github") <i style="margin-right:20px" class="fa fa-github"></i>
    a(href="https://medium.com/@icarcal" target="_blank" alt="medium") <i style="margin-right:20px" class="fa fa-medium"></i>
    a(href="https://www.facebook.com/icarcal" target="_blank" alt="facebook") <i style="margin-right:20px" class="fa fa-facebook"></i>
    a(href="https://twitter.com/icarcal" target="_blank" alt="twitter") <i style="margin-right:20px" class="fa fa-twitter"></i>
    a(href="https://www.linkedin.com/in/icarocaldeira/" target="_blank" alt="linkedin") <i class="fa fa-linkedin"></i>
