section
  h3.title Talks
  ul
    li <a href="https://icarcal.github.io/meetup-nodebr-37/#/" target="_blank">ES6, 7, 8 e contando</a> @ <a href="https://www.meetup.com/nodebr/events/249191326/" target="_blank">NodeBR 37</a>
    li <a href="https://icarcal.github.io/meetup-nerdzao-56/#/" target="_blank">Dockerizing your first app</a> @ <a href="https://www.meetup.com/Nerdzao/events/251461069/" target="_blank">Nerdzão 56</a>
    li <a href="https://icarcal.github.io/meetup-nodebr-41/#/" target="_blank">Real-time chat with Socket.io</a> @ <a href="https://www.meetup.com/nodebr/events/251606663/" target="_blank">NodeBR 41</a>
